<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apushnikov.other351_mytelegram">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--это лишнее RECORD_AUDIO-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />



    <application
        android:name=".myApplication.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.RegisterActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:exported="false" />
        <!-- android:theme="@style/Theme.Other351_MyTelegram"> -->

        <activity android:name=".cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
        <!-- optional (needed if default theme has no action bar) -->
<!--        необязательно (необходимо, если тема по умолчанию не имеет панели действий)-->

    </application>

</manifest>